<div class="form-container">
    <!-- Form Heading -->
    <div class="form-heading center-content">
        <span></span>
        <span>{{title}}</span>
        <button class="form-close-button" (click)="closeDialog()"><i class="fas fa-xmark"></i></button>
    </div>

    <!-- Form Content -->
    <div>

        <button #file>
            Select Image to Upload
            <input type="file" (change)="onFileChange($event)" accept="image/*" />
        </button>

        <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
            format="jpeg" output="base64" imageQuality="50" (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
        <img *ngIf="croppedImage" [src]="croppedImage" />
    </div>

    <button (click)="cropImage()">Crop Image</button>
    <img *ngIf="croppedImage" [src]="croppedImage" alt="Cropped Image" />



</div>