/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.page-container {
    width: 100%;
    height: 100%;
    background-color: rgb(163, 163, 163);
    display: flex;
    flex-direction: row;
}

.nav-bar-container {
    height: 100%;
    width: 20%;
    background: linear-gradient(90deg, #00006a 0%, #0101b6 100%);
    color: white;
}

.nav-bar-heading {
    font-size: xx-large;
    padding: 0.7rem;
    font-weight: bolder;
}

.heading-bar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heading-bar {
    height: 8%;
    width: 100%;
    background: linear-gradient(90deg, rgb(163, 163, 163) 0%, rgb(115, 115, 115) 100%);
    border: #00006a 1px solid;
}