/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: center;
}

.page-container {
    width: 100%;
    height: 100%;
    background-color: rgb(163, 163, 163);
    display: flex;
    flex-direction: row;
}

.nav-bar-container {
    height: 100%;
    width: 20%;
    background: linear-gradient(90deg, #00006a 0%, #0101b6 100%);
    color: white;
}