<div class="page-container">
    <div class="nav-bar-container">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="heading-bar-container">
        <div class="heading-bar">
            <div class="nav-bar-heading">Stock List</div>
            <div class="heading-button-container">
                <button type="submit" class="btn heading-button" (click)="addStock()">Add Stock</button>
            </div>
        </div>
        <div class="grid-container">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="search-input" type="text" (input)="onQuickFilterChanged($event)" placeholder="Search...">
            </div>
            <ag-grid-angular class="ag-theme-alpine grid-styles" [rowData]="rowData" [columnDefs]="columnDefs"
                (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" [pagination]="true"
                [paginationPageSize]="paginationSize">
            </ag-grid-angular>
        </div>
    </div>
</div>